<div class="pro-sorting clearfix">
  <div class="sort-left pull-left">
    show
    <span id="from">1</span>
    to
    <span id="to">10</span>
    of
    <span id="all">34</span>
    result
  </div>
  <!-- <div class="sort-right pull-right">
    <select id="order-by">
      <option value="default" selected="selected"
        >default sorting</option
      >
      <option value="popular">Sort by popularity</option>
      <option value="rating">Sort by average rating</option>
      <option value="date">Sort by latest</option>
      <option value="price">Sort by price: low to high</option>
      <option value="price-desc">Sort by price: high to low</option>
    </select>
  </div> -->
</div>