---
import { PAGES_PATH } from "src/utils/types/pagesTypes";

---

<!-- Breadcrumb -->
<section class="breadcrumbs-wrap" style="margin-top: 13vh;">
  <div class="section-content section-content--w1140">
    <div class="container clearfix">
      <div class="breadcrumbs-inner">
        <ul class="breadcrumbs1 ul--inline ul--no-style">
          <li>
            <a href="/">Home</a>
          </li>
          <span class="span-active">/</span>
          <li>
            <a href={`/${PAGES_PATH.CATALOG_PATH}`}>Catálogo</a>
          </li>
          <span class="span-active">/</span>
          <li class="active">Texturas</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb -->
