---
import { ShopComponent } from "@components/catalog/ShopComponent";
import Layout from "../../layouts/Layout.astro";
import { PAGES } from "../../utils/types/pagesTypes";
import BreadCumbCatalog from "@components/catalog/BreadCumbCatalog.astro";

---

<Layout pageTitle={PAGES.CATALOG}>
  <!-- Page Wrap -->
  <div class="page-wrap">
    <BreadCumbCatalog />
    <ShopComponent client:load/>
  </div>
</Layout>
