---
import Layout from "@layouts/Layout.astro";
---
<Layout>
  <section class="breadcrumbs-wrap" style="margin-top: 13vh;">
    <div class="section-content section-content--w1140">
      <div class="container clearfix">
        <div class="breadcrumbs-inner">
          <ul class="breadcrumbs1 ul--inline ul--no-style">
            <li>
              <a href="/">Home</a>
            </li>
            <span class="span-active">/</span>
            <li>
              <a href="#">Proyectos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Project 1 -->
  <section class="project1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="filter-wrap">
            <ul id="filter" class="ul--no-style ul--inline">
              <li class="active">
                <span data-filter="*">All</span>
              </li>
              <li>
                <span data-filter=".agency">Agency Interior</span>
              </li>
              <li>
                <span data-filter=".ecomer">Ecommerce Interior</span>
              </li>
              <li>
                <span data-filter=".resident">Residential Interior</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="isotope-grid" class="project--hover clearfix">
        <div class="col-md-6 col-sm-12 item agency">
          <div class="project__item">
            <div class="pro__img">
              <img alt="Project 1" src="/img/pro-15.jpg">
              <a href="" class="pro-link">
                <div class="pro-info pro-info--darker">
                  <h2 class="company">
                    Soul Tower
                  </h2>
                  <p class="cat-name">
                    <em>
                      Agency Interior
                    </em>
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 item ecomer">
          <div class="project__item">
            <div class="pro__img">
              <img alt="Project 6" src="/img/pro-15.jpg">
              <a href="" class="pro-link">
                <div class="pro-info pro-info--darker">
                  <h2 class="company">
                    Observation
                  </h2>
                  <p class="cat-name">
                    <em>
                      Ecommerce Interior
                    </em>
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Pro Grid -->
      <!-- End Row -->
      <!-- <div class="see-more">
        <a href="" class="au-btn au-btn--pill au-btn--yellow au-btn--big au-btn--white">
          Load more
        </a>
      </div> -->
    </div>
  </section>
  <!-- End Project 1 -->
</Layout>