---
const { product } = Astro.props;
---
<!-- Navigation -->
<section class="navigation">
  <div 
    class="parallax parallax--nav-2"
    style={`background-image: url(/img/catalog-banner.jpg);`}  
  >
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12">
          <h2 style="text-transform: none;">{product}</h2>
          <ul class="breadcrumbs ul--inline ul--no-style">
            <li>
              <a href="/">Home</a>
            </li>
            <span>/</span>
            <li>
              <a href="/catalog">Catálogo</a>
            </li>
            <span>/</span>
            <li class="active">{product}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Navigation -->
