---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<!-- 404 page -->
<section class="page-404">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="big-info">
          <span>
            404
          </span>
          page not found
        </div>
        <p>
          The page you are looking for does not exist. It may have been moved, or removed altogether. Perhaps you can return back to
          the site's homepage and see if you can find what you are looking for.
        </p>
        <div class="see-more">
          <a href="/" class="au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--white">Home Page</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End 404 page -->
</Layout>