---
import Layout from "../layouts/Layout.astro";
import { PAGES } from "../utils/types/pagesTypes";
---
<Layout pageTitle={PAGES.ABOUT_US}>
  <!-- Page Wrap -->
  <div class="page-wrap">
    <!-- Navigation -->
    <section class="navigation">
      <div class="parallax parallax--nav-1">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-12">
              <h2>
                Nosotros
              </h2>
              <ul class="breadcrumbs ul--inline ul--no-style">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <span>/</span>
                <li class="active">
                  Sobre Nosotros
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Navigation -->
    <!-- We Are -->
    <section class="we-are">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5 col-md-12 col-12">
            <div class="we-are__left">
              <div class="top">
                <div class="we-are__item">
                  <img alt="We Are 1" src="img/about-perfil.jpg">
                </div>
                <div class="we-are__item">
                  <img alt="We Are 2" src="img/about-perfil.jpg">
                </div>
              </div>
              <div class="bottom">
                <div class="we-are__item">
                  <img alt="We Are 3" src="img/about-perfil.jpg">
                </div>
                <div class="we-are__item">
                  <img alt="We Are 4" src="img/about-perfil.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-12">
            <div class="we-are__right">
              <h2>Somos Aluplast</h2>
              <h2 class="title--small">Empresa lider en *inserte rubro*</h2>

              <h5>We make your building more perfect with 25 years of experience</h5>
              <p class="m-b-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi ut lmao labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercit ullamco labont nisi.
              </p>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat alt nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.At vero eos
                et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                quos dolores et quas molestias excepturi.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End we are -->
    <!-- Our Team 2 -->
    <section class="our-team2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title title-3">
              Nuestro equipo
            </h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme" id="owl-our-team-2">
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 1" src="img/our-team-04.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="zmdi zmdi-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Kari Bates
              </h4>
              <p>
                <em>CEO - Founder</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 2" src="img/our-team-05.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Bertha Day
              </h4>
              <p>
                <em>Art Director</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 3" src="img/our-team-06.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Kirk Dixon
              </h4>
              <p>
                <em>Architecter</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 4" src="img/our-team-07.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Jacob Paul
              </h4>
              <p>
                <em>Manager</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 5" src="img/our-team-11.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Paul Martin
              </h4>
              <p>
                <em>Architecter</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 6" src="img/our-team-12.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Selena Clinton
              </h4>
              <p>
                <em>Designer</em>
              </p>
            </div>
          </div>
          <div class="our-team2__item item">
            <div class="our-team2__img">
              <img alt="Our Team 7" src="img/our-team-13.jpg" class="img-responsive">
              <div class="our-team2__link">
                <div class="pro-info our-team2__info">
                  <div class="our-team2__contact">
                    <a href="" class="social__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="social__item">
                      <i class="fa fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-team2__detail">
              <h4>
                Thomson Bieber
              </h4>
              <p>
                <em>Art Director</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Team 2 -->
    <!-- Testi-Partner -->
    <section class="testi-partner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="testi-partner__left">
              <h2 class="title title-3 title-3--left">
                testimonial
              </h2>
              <div class="testi-slide-wrap owl-carousel owl-theme" id="owl-testi-1">
                <div class="testi__item item clearfix">
                  <div class="testi__person">
                    <img src="img/testi-02.jpg" alt="Testi 1">
                    <h6>tim holand</h6>
                    <p class="testi-job">
                      <em>Developer</em>
                    </p>
                  </div>
                  <div class="testi__speech">
                    <blockquote>
                      <i class="fa fa-quote-left big-qoute"></i>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </blockquote>

                  </div>
                </div>
                <!-- end item -->
                <div class="testi__item item clearfix">
                  <div class="testi__person">
                    <img src="img/testi-05.jpg" alt="Testi 2">
                    <h6>Katy Gomez</h6>
                    <p class="testi-job">
                      <em>Designer</em>
                    </p>
                  </div>
                  <div class="testi__speech">
                    <blockquote>
                      <i class="fa fa-quote-left big-qoute"></i>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </blockquote>

                  </div>
                </div>
                <!-- end item -->
                <div class="testi__item item clearfix">
                  <div class="testi__person">
                    <img src="img/testi-06.jpg" alt="Testi 3">
                    <h6>Adien Hart</h6>
                    <p class="testi-job">
                      <em>Developer</em>
                    </p>
                  </div>
                  <div class="testi__speech">
                    <blockquote>
                      <i class="fa fa-quote-left big-qoute"></i>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </blockquote>
                  </div>
                </div>
                <!-- end item -->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12">
            <div class="testi-partner__right">
              <h2 class="title title-3 title-3--right">
                our partners
              </h2>
              <div class="partner-wrap1 owl-carousel owl-theme" id="owl-partner-1">
                <a href="" class="partner__item item">
                  <img alt="Partner 1" src="img/partner-05.png">
                </a>
                <a href="" class="partner__item item">
                  <img alt="Partner 2" src="img/partner-06.png">
                </a>
                <a href="" class="partner__item item">
                  <img alt="Partner 3" src="img/partner-07.png">
                </a>
                <a href="" class="partner__item item">
                  <img alt="Partner 4" src="img/partner-08.png">
                </a>
                <a href="" class="partner__item item">
                  <img alt="Partner 5" src="img/partner-08.png">
                </a>
                <a href="" class="partner__item item">
                  <img alt="Partner 6" src="img/partner-07.png">
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testi-Partner -->
  </div>
</Layout>