---
import Layout from "../layouts/Layout.astro";
import FormContact from "../components/FormContact";
import { PAGES } from "../utils/types/pagesTypes";

const { RECAPTCHA_KEY, EMAILJS_PUBLIC_KEY, EMAILJS_SERVICE, CONTACT_EMAILJS_TEMPLATE } = await import.meta.env;
---
<Layout pageTitle={PAGES.CONTACT}>
    <!-- Page Wrap -->
    <div class="page-wrap">
      <!-- Navigation -->
      <section class="navigation">
        <div class="parallax parallax--nav-2">
          <div class="container clearfix">
            <div class="row">
              <div class="col-md-12">
                <h2>
                  Contacto
                </h2>
                <ul class="breadcrumbs ul--inline ul--no-style">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <span>/</span>
                  <li class="active">
                    Contacto
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Navigation -->
            <!-- Contact Info -->
            <section class="contact-info">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <h4 class="p-t-30">Donde encontrarnos?</h4>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="p-t-30">
                      <i class="fa fa-home m-r-8"></i>
                      RP20, E2826, Urdinarrain, Concordia, AR
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="p-t-30">
                      <i class="fa fa-phone m-r-8"></i>
                      03446 48-0213
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="p-t-30">
                      <i class="fa fa-envelope m-r-8"></i>
                      ventas@aluplast.com.ar
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Contact Info -->
      <!-- Contact content -->
      <section class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="m-t-40">
                <div style="min-height: 55vh" id="google-map"></div>
                <!-- <iframe src="https://snazzymaps.com/embed/43405" width="100%" height="368px" style="border:none;"></iframe> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-contact-wrap m-t-40">
                <h4>Mandanos un mensaje</h4>
                <FormContact keys={{ RECAPTCHA_KEY, EMAILJS_PUBLIC_KEY, EMAILJS_SERVICE, CONTACT_EMAILJS_TEMPLATE }} client:load />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Content -->
    </div>
    <script is:inline src="vendor/jquery-migrate-3.0.0.min.js" type="text/javascript"></script> 
    <script is:inline>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const aluplast = { lat:  -32.67400124615302, lng: -58.88200711152353 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("google-map"), {
          zoom: 17,
          center: aluplast,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: aluplast,
          map: map,
        });
      }
      window.initMap = initMap;
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNtr_upVbMj_77yD5xcGQkhDHpeQHybxE&callback=initMap"
    type="text/javascript"></script>
    <!-- End Page Wrap -->
</Layout>