<section class="service-list">
     <!-- Contact 2 -->
     <div class="contact2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="contact2__item">
              <p style="color: #555555;">
                Estemos en contacto
              </p>
              <div>
                <a href="contact.html" class="au-btn au-btn--pill au-btn--yellow au-btn--medium" style="color: white;">Contacto</a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="partner-wrap1 owl-carousel owl-theme" id="owl-partner-2">
              <a href="" class="partner__item item">
                <img alt="Partner 1" src="/img/partners/partner-05.png">
              </a>
              <a href="" class="partner__item item">
                <img alt="Partner 2" src="/img/partners/partner-06.png">
              </a>
              <a href="" class="partner__item item">
                <img alt="Partner 3" src="/img/partners/partner-07.png">
              </a>
              <a href="" class="partner__item item">
                <img alt="Partner 4" src="/img/partners/partner-08.png">
              </a>
              <a href="" class="partner__item item">
                <img alt="Partner 5" src="/img/partners/partner-06.png">
              </a>
              <a href="" class="partner__item item">
                <img alt="Partner 6" src="/img/partners/partner-07.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact2 -->
</section>