<section class="service">
  <div class="service-wrap">
    <div class="service__item service__intro" style="background-color: #343434;">
      <div class="service__item-inner">
        <h3>
          <span>we are arch</span>
          <br> your best solution
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          <br> Ut enim ad minim veniam, quis nostrud exercitat ullamco laboris nisi ut aliquip ex ea com consequat realzonal.
        </p>
        <div>
          <a href="about-us.html" class="au-btn au-btn--big au-btn--pill au-btn--white au-btn--border au-btn--big">See more</a>
        </div>
      </div>

    </div>
    <!-- end service intro -->
    <a href="/" class="service__item" style="background-image: url('/img/service-01.jpg');">
      <div class="service__item-inner">
        <img alt="Icon 1" src="/img/icon/icon-service-01.png">
        <h4>AGENCY INTERIOR</h4>
      </div>
    </a>
    <!-- end service item -->
    <div class="service__item" style="background-image: url('/img/service-01.jpg');">
      <div class="service__item-inner">
        <img alt="Icon 2" src="img/icon/icon-service-02.png">
        <h4>Ecommerce interior</h4>
      </div>
    </div>
    <!-- end service item -->
    <div class="service__item" style="background-image: url('/img/service-01.jpg');">
      <div class="service__item-inner">
        <img alt="Icon 3" src="/img/icon/icon-service-03.png">
        <h4>residential interior</h4>
      </div>
    </div>
    <!-- end service item -->
  </div>
</section>