---
const partners: string[] = [
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
  'placeholder',
]
---
<!-- Partner -->
   <section class="partner">
    <div class="section-content section-content--w1792" >
      <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">
        {
          partners.map(img => (
            <div class="partner__item item">
              <a type="button">
                <img alt="partner" src={`/img/partners/${img}.png`}>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!-- End Partner -->