---
import PuertaSvg from "../../assets/img/puerta.svg";
import VentanaSvg from "../../assets/img/ventana.svg";
import ServicioSvg from "../../assets/img/servicio.svg";

---
<!-- Service 3 -->
<section class="service-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="service-3__item bottom-shadow">
          <div class="service-3__inner service-3_custom-doors">
            <div class="service-3-icon service-3-icon__doors">
              <div class="service-3-icon__inner">
                <img alt="Icon service 1" width="35px" src={PuertaSvg}>
              </div>
            </div>
            <h3>Puertas</h3>
            <p>
              游뛁游녧 Puertas de alta calidad en sus variantes a medida y est치ndar para satisfacer tus necesidades espec칤ficas. Nuestras soluciones de puertas est치n construidas con los m치s altos est치ndares de calidad y rendimiento, garantizando la durabilidad y tranquilidad de nuestros clientes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="service-3__item bottom-shadow">
          <div class="service-3__inner">
            <div class="service-3-icon service-3_custom-windows">
              <div class="service-3-icon__inner">
                <img alt="Icon service 2" width="50px" src={VentanaSvg}>
              </div>
            </div>
            <h3>Ventanas</h3>
            <p>
              游깯游녧 En Aluplast SRL, ofrecemos una amplia gama de productos de aberturas de aluminio de alta calidad de mediana y alta prestaci칩n en toda la gama de colores y texturas, construidos para cumplir con las necesidades espec칤ficas de nuestros clientes. Desde ventanas, cerramientos hasta sistemas de seguridad.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="service-3__item bottom-shadow">
          <div class="service-3__inner">
            <div class="service-3-icon service-3_custom__services">
              <div class="service-3-icon__inner">
                <img alt="Icon service 3" width="50px" src={ServicioSvg}>
              </div>
            </div>

            <h3>Servicios</h3>
            <p>
              游뱋游댢 En Aluplast SRL, nuestro compromiso con la satisfacci칩n del cliente no termina despu칠s de la venta. Nuestro servicio post venta incluye garant칤as de productos, reparaciones y mantenimiento de aberturas y puertas de aluminio en todas sus tipolog칤as.
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service 3 -->