<section class="youtube-inframe-video row" style="margin: 0;">
  <div class="col-12 col-md-6">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/UFolnhSaJG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-6 d-none d-md-block">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/Nrf8er8kjCc?si=99RP2_3tmoSFec7q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>