  <!-- We are -->
  <section class="we-are">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-12 col-12">
          <div class="we-are__left">
            <div class="top">
              <div class="we-are__item">
                <img alt="Image 1" src="/img/we-are-01.jpg">
              </div>
              <div class="we-are__item">
                <img alt="Image 2" src="/img/we-are-01.jpg">
              </div>
            </div>
            <div class="bottom">
              <div class="we-are__item">
                <img alt="Image 3" src="/img/we-are-01.jpg">
              </div>
              <div class="we-are__item">
                <img alt="Image 4" src="/img/we-are-01.jpg">
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-7 col-md-12 col-12">
          <div class="we-are__right">
            <h2>we are arch</h2>
            <h2 class="title--small">professional interior Agency</h2>

            <h5>We make your building more perfect with 25 years of experience</h5>
            <p class="m-b-10">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi ut lmao labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercit ullamco labont nisi.
            </p>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat alt nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="see-more see-more--left">
              <a href="about-us.html" class="au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--white">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End We are -->