---
const { address, phone, mail, title } = Astro.props;
---
<!-- Contact Info -->
<section class="contact-info" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h5 class="p-t-30">{title}</h5>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="https://www.google.com/maps/dir//Aluplast+SRL+RP20+E2826+Urdinarrain+Entre+R%C3%ADos/@-32.6741277,-58.8821895,15z/data=!4m5!4m4!1m0!1m2!1m1!1s0x95baa828f2d32b47:0xbe4d5bd6a4354bd" target="_blank" class="p-t-30">
          <i class="fa fa-home m-r-8"></i>
          {address}
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="https://api.whatsapp.com/send?phone=543446374867&text=" target="_blank" class="p-t-30">
          <i class="fa fa-phone m-r-8"></i>
          {phone}
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a class="p-t-30">
          <i class="fa fa-envelope m-r-8"></i>
          {mail}
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Info -->
