<!-- Header Stick -->
  <header class="header-stick header-stick--dark">
    <div class="container clearfix">
      <h1 class="logo pull-left">
        <a href="/">
          <img alt="Logo" src="img/logo-white.png">
        </a>
      </h1>
      <nav class="menu-desktop pull-right">
        <ul class="ul--inline ul--no-style">
          <li class="li-has-sub">
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <i class="fa fa-plus menu-mobile__more"></i>
            <a href="/about">
              Sobre nosotros
            </a>
          </li>
          <li>
            <a href="/">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header Stick -->
  <!-- Header Mobile -->
  <header class="header-mobile">
    <div class="container clearfix">
      <h1 class="logo pull-left">
        <a href="/">
          <img alt="Logo" src="img/logo-black.png">
        </a>
      </h1>
      <a class="menu-mobile__button">
        <i class="fa fa-bars"></i>
      </a>
      <nav class="menu-mobile hidden">
        <ul class="ul--no-style">
          <li>
            <i class="fa fa-plus menu-mobile__more"></i>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <i class="fa fa-plus menu-mobile__more"></i>
            <a href="/about">
              Sobre nosotros
            </a>
          </li>
          <li>
            <a href="/">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header Mobile -->
  <!-- Top Contact -->
  <section class="top-contact">
    <div class="container clearfix">
      <div class="top-contact--left pull-left">
        <span>
          Gmail: aluplast@aluplast.com
        </span>
        <span>
          Telefono: 0433 144 255
        </span>
      </div>
      <div class="top-contact--right pull-right">
        <a href="">
          <i class="zmdi zmdi-facebook"></i>
        </a>
        <a href="">
          <i class="zmdi zmdi-instagram"></i>
        </a>
        <a href="">
          <i class="zmdi zmdi-dribbble"></i>
        </a>
        <a href="">
          <i class="zmdi zmdi-google"></i>
        </a>
        <a href="">
          <i class="zmdi zmdi-twitter"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- End Top Contact -->
  <!-- Header Desktop -->
  <header class="header-desktop header3">
    <div class="container">
      <div class="header-wrap clearfix">
        <h1 class="logo pull-left">
          <a href="/">
            <img alt="Logo" src="img/logo-black.png">
          </a>
        </h1>
        <div class="header-button pull-right clearfix">
          <div class="canvas-menu-button pull-right">
            <a href="" onclick="return false;">
              <i class="zmdi zmdi-menu"></i>
            </a>
          </div>
        </div>
        <nav class="menu-desktop menu-desktop--show pull-right">
          <ul class="ul--inline ul--no-style">
            <li class="li-has-sub">
              <a href="/">
                Home
              </a>
            </li>
            <li class="li-has-sub">
              <a href="/about">
                Sobre nosotros
              </a>
            </li>
            <li>
              <a href="/">
                Contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End Header Wrap -->
    </div>
  </header>