<!-- Footer -->
<footer class="footer-2">
  <div class="overlay overlay--dark">
  </div>
  <div class="parallax parallax--footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-9 col-12">
          <h1>
            <a href="/">
              <img alt="Logo" src="img/logo-white.png">
            </a>
          </h1>
          <form method="post" class="form-footer">
            <input type="text" name="name" class="form__input" placeholder="email@email.com">
            <button type="submit" class="au-btn au-btn--yellow au-btn--white au-btn--submit">Enviar</button>
          </form>
          <div class="social">
            <a href="" class="social__item social__item--circle">
              <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="" class="social__item social__item--circle">
              <i class="zmdi zmdi-dribbble"></i>
            </a>
            <a href="" class="social__item social__item--circle">
              <i class="zmdi zmdi-google"></i>
            </a>
            <a href="" class="social__item social__item--circle">
              <i class="zmdi zmdi-twitter"></i>
            </a>
            <a href="" class="social__item social__item--circle">
              <i class="zmdi zmdi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        Copyright © 2017 Designer by
        <span>Authemes</span> . All rights reserved
      </div>
    </div>
  </div>
</section>
<!-- End Copyright -->