<section class="why-choose">
  <div class="row">
    <header class="col-12">
      <h2>
        La <strong>calidad</strong> no es un acto.
        <br>
        Es un hábito.
      </h2>
    </header>
    <div class="col-md-9 px-md-5 col-xl-6">
      <p>
        Para nosotros la calidad se traduce en 4 acciones:
        <br>
        Intención, esfuerzo, dirección y ejecución.
        <br>
        Control, Equipo y Tecnología de avanzada contribuyen a nuestra mejora continua.
      </p>
    </div>
    <div class="col-md-12 col-xl-2 image-container">
      <img src="/img/aluplast-section.png" alt="aluplast-logo">
    </div>
    <footer class="col-12">
      <span class="span-red">
        <div>
          <a href="https://www.facebook.com/AluplastAberturas" target="_blank">
            <i class="zmdi zmdi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/aluplast.aberturas/" target="_blank">
            <i class="zmdi zmdi-instagram"></i>
          </a>
          <span>aluplast.com.ar</span>
        </div>
      </span>
      <span class="span-blue"></span>
    </footer>
  </div>
</section>
<style>
  /*Why Choose*/
  .why-choose .row {
      height: 60vh;
      padding: 5%;
  }

  .why-choose .row header {
      padding-left: 20%;
      display: flex;
      align-items: center;
  }

  .why-choose .row header h2 {
      color: var(--main-blue);
  }

  .why-choose div {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .why-choose div p {
      color: var(--grey-5);
      font-weight: 700;
      font-size: 20px;
  }

  .why-choose .row .image-container {
      align-items: end;
      justify-content: flex-end;
  }

  .why-choose .row .image-container img {
      width: 230px;
  }

  .why-choose .row footer {
      margin-top: 20px;
      display: flex;
      height: 50px;
  }
  .why-choose .row footer span {
      width: 50%;
  }

  .why-choose .row footer .span-red {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      height: 100%;
      font-size: 15px;
      background-color: var(--main-red);
  }

  .why-choose .row footer .span-red div {
    width: 50%;
    gap: 8px;
  }

  .why-choose .row footer .span-red div a {
    color: white;
    font-size: 15px;
  }

  .why-choose .row footer .span-red div span {
    display: block;
    width: auto;
  }

  .why-choose .row footer .span-blue {
      height: 100%;
      background-color: var(--main-blue);
  }

  @media (max-width: 1024px) {
    .why-choose 
    .row 
    header {
        padding-left: 17%;    
    }
    .why-choose 
    div {
        margin-top: 25px;
        height: auto;
    }
    .why-choose .row footer .span-red div { 
      margin-top: 0;
    }
    .why-choose 
    .row 
    .image-container {
        align-items: center;
        justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .why-choose .row header {
        padding-left: 19%;
    }
    .why-choose .row footer .span-red div a {
      display: none;
    }
    .why-choose .row footer .span-red div span {
      display: none;
    }
  }
  @media (max-width: 425px) {
    .why-choose .row header {
        padding-left: 3%;
    }
    .contact {
        margin-top: 250px;
    }
  }
</style>