---
// import FormFooter from './FormFooter';

// const { EMAILJS_SERVICE, FOOTER_EMAILJS_TEMPLATE, EMAILJS_PUBLIC_KEY, RECAPTCHA_KEY } = await import.meta.env;
// const FooterProps = { EMAILJS_SERVICE, FOOTER_EMAILJS_TEMPLATE, EMAILJS_PUBLIC_KEY, RECAPTCHA_KEY };

---
<!-- <footer class="footer-2">
  <div class="overlay overlay--dark">
  </div>
  <div class="parallax parallax--footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-9 col-12">
          <h1>
            <a href="/">
              <img alt="Logo" src="/img/logo.png" />
            </a>
          </h1>
          <FormFooter keys={FooterProps} client:load />
          <div class="social">
            <a href="https://www.facebook.com/AluplastAberturas" target="_blank">
              <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/aluplast.aberturas/" target="_blank">
              <i class="zmdi zmdi-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@aluplastmedia" target="_blank">
              <i class="zmdi zmdi-youtube"></i>
            </a>
            <a href="https://wa.me/+5493446598417" target="_blank">
              <i class="zmdi zmdi-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->

    <!-- Footer -->
    <footer class="footer-3">
      <div class="section-content section-content--w1140">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <h2 class="logo-footer">
                <a href="index.html">
                  <img alt="Logo" src="/img/logo-white.png" />
                </a>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur moon el adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et doloe magna
                aliqua.
              </p>
              <h5 class="title-footer">FOLLOW US</h5>
              <div class="social-footer">
                <a href="">
                  <i class="zmdi zmdi-facebook"></i>
                </a>
                <a href="">
                  <i class="zmdi zmdi-twitter"></i>
                </a>
                <a href="">
                  <i class="zmdi zmdi-pinterest-box"></i>
                </a>
                <a href="">
                  <i class="zmdi zmdi-dribbble"></i>
                </a>
                <a href="">
                  <i class="zmdi zmdi-google"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <h5 class="title-footer m-b-26">contact info</h5>
              <p class="con__item">
                <i class="fa-solid fa-house" aria-hidden="true"></i>
                RP20, E2826, Urdinarrain, Concordia, AR
              </p>
              <p class="con__item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                03446 48-0213
              </p>
              <p class="con__item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                ventas@aluplast.com.ar
              </p>
              <!-- <p class="con__item">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Monday- Friday : 8am - 6pm
              </p> -->
            </div>
            <div class="col-lg-4 col-md-6">
              <!-- <h5 class="title-footer m-b-30">from gallery</h5>
              <div class="gallery clearfix">
                <div class="gallery__item">
                  <img alt="Gallery 1" src="img/gallery-01.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
                <div class="gallery__item">
                  <img alt="Gallery 2" src="img/gallery-02.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
                <div class="gallery__item">
                  <img alt="Gallery 3" src="img/gallery-03.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
                <div class="gallery__item">
                  <img alt="Gallery 4" src="img/gallery-04.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
                <div class="gallery__item">
                  <img alt="Gallery 5" src="img/gallery-05.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
                <div class="gallery__item">
                  <img alt="Gallery 6" src="img/gallery-06.jpg" />
                  <a href="" class="pro-link">
                    <div class="overlay overlay--invisible overlay--yellow">
                    </div>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
          <div class="copyright-2">
            <div>
              Copyright © 2017 Designed by
              <span>AuThemes</span>. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Back to top -->
